<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <style>
    table, td, th, thead{
      border: 3px solid black;
    }
    th, td{
      font-size: 1.2em;
    }
  </style>
	<title>Diary Portal</title>
</head>
<body style="padding: 2rem; background-color: #8dbdd8;">


      <a target="_self" class="btn btn-primary" role="button" href="{%url 'placement_add_company'  %}">Add Company</a>
      <br><br>
	<table class="table table-hover">
  <thead>
    <tr style="background-color: white;">
      <th scope="col"><center>Company Name</center></th>
      <th scope="col"><center>POC</center></th>
      <th scope="col"><center>CPOC</center></th>
      <th scope="col"><center>Remarks</center></th>
      <th scope="col"><center>View All Remarks</center></th>
    </tr>
  </thead>
  <tbody>
    {%for company in company%}
    <tr class="clickable-row" data-href="{% url 'placement_company_edit' pk=company.pk  %}">
      <th scope="row"><center>{{company.CompanyName}}</center></th>
      <td><center>{{company.POC}}</center></td>
      <td><center>{{company.CPOC}}</center></td>
      <td><center>{{company.TopRemark}}</center></td>
      <td>
      <center><a target="_self" class="btn btn-primary" role="button" href="{%url 'premarks' pk=company.pk %}" style="border-color: black; border-width: 2px;">View All Remarks</a></center></td>
    </tr>
    {%endfor%}


<script>
document.addEventListener("DOMContentLoaded",()=>{
const rows = document.querySelectorAll("tr[data-href]");
console.log(rows);
rows.forEach(row=>{
row.addEventListener("click",()=>{
window.location.href = row.dataset.href;

});
});
});

$(document).ready(function(){
$(document.body).on("click","tr[data-href]",function(){
window.location.href=this.dataset.href;
});
});

</script>


</tbody>
</table>

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>